<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
     
    <display-name>Quick Servlet Demo Application</display-name>
     
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearch</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.crud.user.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreate</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.crud.user.UserCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.crud.user.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>com.sliit.musicstore.servlets.admin.crud.user.UserDeleteServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping> 
     
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserSearch</servlet-name>
        <url-pattern>/admin/user/search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserCreate</servlet-name>
        <url-pattern>/admin/user/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/admin/user/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/admin/user/delete</url-pattern>
    </servlet-mapping>
</web-app>